<div class="container pt-4">
  <h1 class="display-3 text-center text-muted my-4">Videos</h1>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <img src="./assets/imges/vid-1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title">
            What is Coding Money? 3 Ways of Making Money
          </h4>
          <p class="card-text">
            Watch this video to find out about coding money, and learn top 3
            ways of how to make money with coding.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <img src="./assets/imges/vid-2.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title">
            How to Learn Coding Quickly & Easily for FREE
          </h4>
          <p class="card-text">
            In this video, I share free resources that you can use to start
            learning how to code quickly and easily for free.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <img src="./assets/imges/vid-3.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title">
            How to Create Under Construction Website in HTML & CSS for beginners
          </h4>
          <p class="card-text">
            In this tutorial, you will learn How to create Coming Soon web page
            in HTML & CSS
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <img src="./assets/imges/vid-4.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title">GITHUB , GIT & VS CODE - EASIEST TUTORIAL</h4>
          <p class="card-text">
            Learn how to use Free unlimited Github private repositories with Git
            and VS Code and save yourself Headaches, Time & Money.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <img src="./assets/imges/vid-5.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title">
            Investing to Make Money with Stock Trading - Part 1
          </h4>
          <p class="card-text">
            Investing money into stocks, sharing my strategies, thought process
            and trade ideas for Monday, August 10, 2020. Part 2 is coming soon.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <img src="./assets/imges/vid-6.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title">Where Do I Begin to Learn Coding</h4>
          <p class="card-text">
            This video is a starting point for beginners. You will learn where
            to begin your learning journey and what first most in-demand
            programming language to learn.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
