<div class="container pt-4">
  <hr />
  <div class="row py-4 text-muted">
    <div class="col-md">
      <p><strong>Weekly Newsletter</strong></p>
      <p>
        I send one email every week about the projects I am working on and
        things that I am learning. Exclusive valuable content you won't find
        anywhere else.
      </p>
    </div>
    <div class="col-md col-lg-5 ml-auto">
      <p><strong>Stay up-to-date on Coding Money</strong></p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Email" />
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Sign up</button>
        </span>
      </div>
    </div>
  </div>
  <hr />

  <div class="row py-3">
    <div class="col-md-7">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Other Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <!-- Example single danger button -->
          <div class="btn-group dropup">
            <button
              type="button"
              class="btn btn-outline-secondary dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Social Media
            </button>
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                href="https://www.youtube.com/channel/UCaj6HRoG3Vlr0YaAF_4Lwig"
                >Youtube</a
              >
              <a
                class="dropdown-item"
                href="https://facebook.com/codingmoneycom"
                >Facebook</a
              >
              <a
                class="dropdown-item"
                href="https://instagram.com/codingmoneycom"
                >Instagram</a
              >
              <a class="dropdown-item" href="https://twitter.com/codingmoneycom"
                >Twitter</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md text-md-right">
      <small
        >&copy; 2020
        <a href="http://codingmoney.com/"
          >Bootstrap 5 theme by CodingMoney.com</a
        ></small
      >
    </div>
  </div>
</div>
<!-- /footer -->
